/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Feb-2016, 21:58:12
    Author     : John M
*/

.root {
     -fx-font-size: 9pt;
}

.text-input {
    -fx-font-size: 13px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: blue;
}

#result-text {
  -fx-font-size: 13px;
  -fx-font-family: "Arial Black";
  -fx-font-weight: bold;
  -fx-fill: #078807;
  -fx-effect: dropshadow( gaussian , white , 0,0,0,1 );  
}

#warning-text {
  -fx-font-size: 13px;
  -fx-font-family: "Arial Black";
  -fx-font-weight: bold;
  -fx-fill: red;
  -fx-effect: dropshadow( gaussian , white , 0,0,0,1 ); 
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , white , 1,0,1,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#dda0dd, #9400d3);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );   
}
.button:hover {
    -fx-text-fill: yellow;
    -fx-background-color: linear-gradient(#9400d3, #CC00FF);
}
